h1 {
  text-align: center;
  font-size: 150px;
  font-family: "chopsic";
  color: white;
}

h2 {
  text-align: center;
  font-size: 70px;
}

h4 {
  text-align: center;
}

.flex-parent {
  display: flex;
}

.jc-center{
  justify-content: center;
}

button.margin-right{
  margin-right: 20px;
}

button{
  height: 75px;
  width: 250px;
  font-size: 30px;
}
html {
  background-image: url(../img/6.png);
  background-repeat: repeat;
  background-color: black;
}
