h1 {
text-align: center;
}

h2 {
text-align: center;
  text-align: center;
  font-size: 70px;
}

.button {
  height: 100px;
  width: 200px;
  text-align: center;
  margin-left: 80px;
  font-size: 20px;
}

.background {
  background-image: url(../img/background.jpg);
}
